<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoBaseDatos.Properties.Settings.APF_InteligenciaConnectionString"
            connectionString="Data Source=GINSA.nets.uno;Initial Catalog=APF-Inteligencia;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>